<div class="formContainer">
    <form ng-submit="reset()" class="form">
        <label>Enter password and submit to reset/create the entire DB</label>
        <fieldset class="form-group">
            <label>Password</label>
            <input type="password" class="form-control" placeholder="Enter password" ng-model="password"/>
        </fieldset>
        <fieldset class="form-group">
            <label>Number of user</label>
            <input type="text" class="form-control" placeholder="between 10 and 1000 should be enough" ng-model="nb"/>
        </fieldset>
        <button type="submit" class="btn btn-primary searchButton">Reset</button>
    </form>
</div>
<div ng-class="loading" ng-show="loading">
    loading
</div>
<div class="finish" ng-show="finish">
    </br>
    The database has been refreshed. Please recharge (in cash too) the entire website.
</div>