<div class="formContainer">
    <form ng-submit="send()" class="form">
        <fieldset class="form-group">
            <label>Email address</label> <span
                ng-class="inscription.errorMail || 'hide'">This mail already has an account</span>
            <input onchange="angular.element(this).scope().verifyMail()" type="email" class="form-control"
                   placeholder="Enter email" ng-model="inscription.mail" mail/>
            <small class="text-muted">We'll never share your email with anyone else.</small>
        </fieldset>
        <fieldset class="form-group">
            <label>Pseudo</label> <span ng-class="inscription.errorPseudo || 'hide'">Pseudo already taken</span>
            <input onchange="angular.element(this).scope().verifyPseudo()" type="text" class="form-control"
                   placeholder="Enter pseudo" ng-model="inscription.pseudo" name/>
            <small class="text-muted">You wont be able to change it after.</small>
        </fieldset>
        <fieldset class="form-group">
            <label>Password</label>
            <!-- //TODO: rajouter pass a la fin de la balise input pour verifier le mdp minimum (cf directive in app) -->
            <input type="password" class="form-control" placeholder="Enter password" ng-model="inscription.password"/>
            <small class="text-muted">Your password is encrypted : We wont know it.</small>
        </fieldset>
        <fieldset class="form-group">
            <label>Confirm Password</label> <span
                ng-class="inscription.errorPass || 'hide'">Passwords are different</span>
            <input ng-change="verifyPass()" type="password" class="form-control" placeholder="Confirm password"
                   ng-model="inscription.password2"/>
        </fieldset>
        <fieldset class="form-group">
            <label>First_name</label>
            <input type="text" class="form-control" placeholder="Enter First Name" ng-model="inscription.first_name"
                   name/>
            <small class="text-muted">A 4 to 12 long alphanumeric name is required.</small>
        </fieldset>
        <fieldset class="form-group">
            <label>Last_name</label>
            <input type="text" class="form-control" placeholder="Enter Last Name" ng-model="inscription.last_name"
                   name/>
            <small class="text-muted">A 4 to 12 long alphanumeric name is required.</small>
        </fieldset>
        <button type="submit" class="btn btn-primary searchButton">Sign up</button>
        <span ng-class="inscription.errors || 'hide'">Correct error(s) please</span>
        <span ng-class="inscription.sending || 'hide'">loading</span>
    </form>
</div>