<div class="searchPage">
    <div class="search">
        <form ng-submit="search()">
            <div class="sortContainer" ng-show="listOfResults">
                <p class="searchLabel">
                    Sort by :
                </p>
                <div class="sortContainer">
                    <button type="button" ng-click="sort(0)" ng-class="sort.ageClass || 'sortActivate'">Age</button> |
                    <button type="button" ng-click="sort(1)" ng-class="sort.distClass || 'sort'">Dist</button>|
                    <button type="button" ng-click="sort(2)" ng-class="sort.scoreClass ||'sort'">Score</button>|
                    <button type="button" ng-click="sort(3)" ng-class="sort.tagsClass || 'sort'">Tags</button>
                    <img ng-src="../../assets/style/img/icon/{{sort.img || 'upArrow.png'}}" class="arrow" alt="">
                </div>
                <hr width="100%">
            </div>
            <p class="searchLabel">
                Age between :
            </p>
            <div class="searchSlide">
                <rzslider rz-slider-model="sliderAge.minValue"
                          rz-slider-high="sliderAge.maxValue"
                          rz-slider-options="sliderAge.options"></rzslider>
            </div>
            <hr width="100%">
            <p class="searchLabel">
                Distance (km) between :
            </p>
            <div class="searchSlide">
                <rzslider rz-slider-model="sliderDist.minValue"
                          rz-slider-high="sliderDist.maxValue"
                          rz-slider-options="sliderDist.options"></rzslider>
            </div>
            <hr width="100%">
            <p class="searchLabel">
                Score between :
            </p>
            <div class="searchSlide">
                <rzslider rz-slider-model="sliderScore.minValue"
                          rz-slider-high="sliderScore.maxValue"
                          rz-slider-options="sliderScore.options"></rzslider>
            </div>
            <hr width="100%">
            <div class="tagsSearch">
                <div class="tagsHeader">
                    <p class="tagsTitle">
                        Tags :
                    </p>
                    <button type="button" ng-click="addTag()" class="newTag">+</button>
                    <input ng-change="clearError()" class="newTag" type="text"
                           ng-model="new_tag"/>
                </div>
                <div class="listTagsSearch">
                    <p ng-class="noTag || 'hide'">
                        Tag doesnt exist
                    </p>
                    <p ng-class="muchTag || 'hide'">
                        Maximum of tags reach
                    </p>
                    <div class="oneTagSearch" ng-repeat="tag in listOfTags">
                        - {{tag.name}}
                        <button ng-click="deleteTag(tag)" class="tag">X</button>
                    </div>
                </div>
            </div>
            <div class="submitContainer">
                <button type="submit" ng-class="error || 'searchButton btn btn-primary'">Search !</button>
            </div>

        </form>
    </div>
    <div ng-class="noResult">
        <img src="../../assets/style/img/sorry.png" alt="">
        <hr>
        Im sorry you didnt find anyone matching your preferences :(
    </div>
    <div ng-repeat="user in listOfResults">
        <a class="profileLink" ng-href="/profile/{{user.id}}">
            <div class="oneResult">
                <div class="imgSearch">
                    <img class="searchPic" ng-src="{{user.mainPic}}" alt="">
                </div>
                <p class="resultp">{{user.pseudo}}</p>
                <hr class="result">
                <p class="resultp">{{user.age}} years old</p>
                <hr class="result">
                <p class="resultp">{{user.dist}} km from you</p>
                <hr class="result">
                <p class="resultp">{{user.score}} / 100</p>
                <hr class="result">
                <p class="resultp">{{user.tags_common}} tags in common</p>
            </div>
        </a>
    </div>

</div>